# Database
DB_HOST=event-db
DB_REPLICA_HOST=event-db-replica
DB_PORT=5432
DB_REPLICA_PORT=5432
DB_USER=event_service
DB_PASSWORD=event_pass_secure
DB_NAME=event_db
DB_SSLMODE=disable

# Auth
JWT_SECRET=change-me

# HTTP
HTTP_HOST=0.0.0.0
HTTP_PORT=6660
HTTP_PORT_HOST=6660

# Logging
LOGGER_LEVEL=info

# App
APP_NAME=event-service

# Telemetry
TELEMETRY_ENABLED=true
TELEMETRY_SERVICE_NAME=event-service
TELEMETRY_EXPORTER_ENDPOINT=otel-collector:4317

# Kafka
KAFKA_HOST=kafka
KAFKA_PORT=29092
KAFKA_TOPIC=payment_events
KAFKA_CONSUMER_GROUP=event_service_group
KAFKA_MIN_BYTES=10240
KAFKA_MAX_BYTES=10485760

# Wallet charge consumer
WALLET_CHARGE_KAFKA_HOST=kafka
WALLET_CHARGE_KAFKA_PORT=29092
WALLET_CHARGE_TOPIC=wallet.charge.completed
WALLET_CHARGE_GROUP=event_service_wallet_group
WALLET_CHARGE_MIN_BYTES=10240
WALLET_CHARGE_MAX_BYTES=10485760

# Ticket transfer consumer
TRANSFER_KAFKA_HOST=kafka
TRANSFER_KAFKA_PORT=29092
TRANSFER_KAFKA_TOPIC=ticket_transfer_requested
TRANSFER_KAFKA_CONSUMER_GROUP=event_service_transfer_group
TRANSFER_KAFKA_MIN_BYTES=10240
TRANSFER_KAFKA_MAX_BYTES=10485760
