# Build
GITHUB_TOKEN=

# Database
PAYMENT_DB_HOST=payment-db
PAYMENT_DB_PORT=5432
PAYMENT_DB_USER=postgres
PAYMENT_DB_PASSWORD=secret
PAYMENT_DB_NAME=payment_db
PAYMENT_DB_SSLMODE=disable

PAYMENT_DB_CONNECT_TIMEOUT=10s
PAYMENT_DB_STATEMENT_TIMEOUT=30s
PAYMENT_DB_MAX_OPEN_CONNS=10
PAYMENT_DB_MAX_IDLE_CONNS=5
PAYMENT_DB_CONN_MAX_LIFETIME=5m
PAYMENT_DB_CONN_MAX_IDLE_TIME=10m

# App
PAYMENT_APP_NAME=payment_service
PAYMENT_DEFAULT_TOKEN_TTL=30m

# Stripe
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

# gRPC
GRPC_HOST=0.0.0.0
GRPC_PORT=9094
GRPC_RECOVER_ENABLED=true
GRPC_RECOVER_STACK=true
GRPC_RECOVER_MESSAGE=internal server error

# HTTP
HTTP_HOST=0.0.0.0
HTTP_PORT=3755
HTTP_READ_TIMEOUT=5s
HTTP_WRITE_TIMEOUT=10s
HTTP_MAX_BODY_BYTES=65536

# Kafka
STRIPE_KAFKA_HOST=kafka
STRIPE_KAFKA_PORT=29092
STRIPE_KAFKA_TOPIC=payment_events
STRIPE_KAFKA_AUTO_CREATE_TOPIC=false
STRIPE_KAFKA_REQUIRED_ACKS=1
STRIPE_KAFKA_MAX_RETRIES=3
STRIPE_KAFKA_WRITE_TIMEOUT=10s
STRIPE_KAFKA_BATCH_SIZE=100
STRIPE_KAFKA_BATCH_TIMEOUT=1s

# Telemetry
OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_SERVICE_NAME=payment_service
