# Telemetry
OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_SERVICE_NAME=event-searching

# Redis
HOST_REDIS=searching_redis
PORT_REDIS=6379

# Elasticsearch
HOST_ELASTIC=elasticsearch
PORT_ELASTIC=9200

# Kafka
KAFKA_HOST=kafka
KAFKA_PORT=29092

# Database
EVENT_SEARCHING_DB_HOST=searching_postgres
EVENT_SEARCHING_DB_PORT=5432
EVENT_SEARCHING_DB_USER=postgres
EVENT_SEARCHING_DB_PASSWORD=postgres
EVENT_SEARCHING_DB_NAME=searching_db
EVENT_SEARCHING_DB_SSLMODE=disable

# Build secret for compose secret github_token
SEARCH=
